:root {
  --spacer: 1rem;

  --brand-color: #1982c4;
  --brand-color-1: #1982c4;

  --brand-color-2: #8ac926;
  --brand-color-3: #ffca3a;
  --brand-color-4: #ff595e;
  --brand-color-5: #66b2b2;
  --brand-color-6: #6a4c93;

  --anim: 0.15s ease-out;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

h2 {
  text-align: center;
}
